// В этом файле должны быть стили для БЭМ-блока video-gallery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.video-gallery {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .page__wrapper & {
    background-color: #222;
  }

  .section-heading {
    margin: 0;
  }

  .embed-responsive {
    margin: 0;
    border-radius: 0.5rem;

    opacity: 0.7;
    box-shadow: 0.3rem 0.3rem 0.5rem #111;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
      box-shadow: 0.6rem 0.6rem 2rem #111;
    }
  }

  &__container {
    width: 90%;
  }

  &__row {
    @include row;

    align-content: space-between;
    min-height: 60vh;
  }

  &__col {
    @include col(lg, 4, 12, 6rem);
  }
}
