-
  let currentUrl = ''
  let currentTitle = 'Home page'
  let currentDescription = ' '
  let lang = 'en'
  let Bootstrap4 = false
  let jQuery = false
  let GoogleFonts = 'Special+Elite'
  let fontWeight = '400'
  let screenSm = '0'
  let screenMd = '640px'
  let screenLg = '1280px'
