// В этом файле должны быть стили для БЭМ-блока section-heading, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section-heading {

  $block-name:                &; // #{$block-name}__element

  margin: 0;
  margin-bottom: 10rem;

  font-size: 10rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1rem;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.5rem #555;

  @media (max-width: 1500px) {
    font-size: 7rem;
  }

  @media (max-width: 750px) {
    font-size: 5.5rem;
  }

  @media (max-width: 600px) {
    font-size: 4.5rem;
  }
}
