extends ../pug/layout.pug

append config
  -
    currentTitle = 'Home'
    currentDescription = 'Classic Cars website'
    currentUrl = 'index.html'

block header
  +page-header()
    .navbar__menu-btn.target
      .navbar__menu-line
      .navbar__menu-line

    nav.navbar.target
      a.navbar__link(href='#home') Home
      a.navbar__link(href='#popular-cars') Popular Cars
      a.navbar__link(href='#') Video Gallery
      a.navbar__link(href='#contact') Contact
    ///.navbar

block content
  .page__wrapper
    section.hero.target#home
      h1.section-heading Classic Cars

      +picture({
        'img': 'hero-bg-01',
        'alt': 'Classic Car',
        'lg': true,
        'md': true,
        'ext': 'png'
      }, 'hero__img')
    ///.hero

  .page__wrapper
    section.popular-cars.target#popular-cars
      h2.section-heading Popular Cars

      .popular-cars__wrapper

        .card
          .card__inner
            h3.card__name Car Name
            +picture({
              'img': 'popular-cars-01',
              'alt': 'Classic Car',
              'lg': false,
              'md': true,
              'ext': 'jpg'
            }, 'popular-cars__img')
            h4.card__price $ 200,000
            +btn('See more')(class='card__btn', href='#')

        .card
          .card__inner
            h3.card__name Car Name
            +picture({
              'img': 'popular-cars-02',
              'alt': 'Classic Car',
              'lg': false,
              'md': true,
              'ext': 'jpg'
            }, 'popular-cars__img')
            h4.card__price $ 100,000
            +btn('See more')(class='card__btn', href='#')

        .card
          .card__inner
            h3.card__name Car Name
            +picture({
              'img': 'popular-cars-03',
              'alt': 'Classic Car',
              'lg': false,
              'md': true,
              'ext': 'jpg'
            }, 'popular-cars__img')
            h4.card__price $ 150,000
            +btn('See more')(class='card__btn', href='#')
    ///.popular-cars

  .page__wrapper
    section.video-gallery.target#video-gallery
      h2.section-heading Video Gallery

      .video-gallery__container
        .video-gallery__row
          .video-gallery__col
            +embed-responsive()
              iframe(src='https://www.youtube.com/embed/zmxvc2_MlIw', frameborder='0', allowfullscreen='')
            //- video.video-gallery__item(src='video/car-video-1.mp4', muted, loop)
          .video-gallery__col
            +embed-responsive()
              iframe(src='https://www.youtube.com/embed/xS2sWOKGtHk', frameborder='0', allowfullscreen='')
            //- video.video-gallery__item(src='video/car-video-2.mp4', muted, loop)
          .video-gallery__col
            +embed-responsive()
              iframe(src='https://www.youtube.com/embed/jybhLfwDSPM', frameborder='0', allowfullscreen='')
            //- video.video-gallery__item(src='video/car-video-3.mp4', muted, loop)
          .video-gallery__col
            +embed-responsive()
              iframe(src='https://www.youtube.com/embed/I-BhhxPs4EM', frameborder='0', allowfullscreen='')
            //- video.video-gallery__item(src='video/car-video-4.mp4', muted, loop)
          .video-gallery__col
            +embed-responsive()
              iframe(src='https://www.youtube.com/embed/B_YpLWuYZC0', frameborder='0', allowfullscreen='')
            //- video.video-gallery__item(src='video/car-video-5.mp4', muted, loop)
          .video-gallery__col
            +embed-responsive()
              iframe(src='https://www.youtube.com/embed/ruw7XBOUDOU', frameborder='0', allowfullscreen='')
            //- video.video-gallery__item(src='video/car-video-6.mp4', muted, loop)
    ///.video-gallery
