extends ../pug/layout.pug

append config
  -
    currentTitle = 'Home'
    currentDescription = 'Classic Cars website'
    currentUrl = 'index.html'

block header
  +page-header()
    .navbar__menu-btn.target
      .navbar__menu-line
      .navbar__menu-line

    nav.navbar.target
      a.navbar__link(href='#home') Home
      a.navbar__link(href='#popular-cars') Popular Cars
      a.navbar__link(href='#video-gallery') Video Gallery
      a.navbar__link(href='#contact') Contact
    ///.navbar

block content
  .page__wrapper
    section.hero.target#home
      h1.section-heading Classic Cars

      +picture({
        'img': 'hero-bg-01',
        'alt': 'Classic Car',
        'lg': true,
        'md': true,
        'ext': 'png'
      }, 'hero__img')
    ///.hero
